<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.keepalivedemo">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".KeepLiveApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KeepAliveDemo">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--不在最近任务列表中展示-->
        <!--按Home去主页，再点击图标会进入MainActivity，且销毁本Activity-->
        <!--使用自定义透明style-->
        <activity
            android:name=".onepiece.OnePieceActivity"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleTask"
            android:theme="@style/OnePieceTheme" />

        <service
            android:name=".service.ScapegoatService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.ForegroundService"
            android:enabled="true"
            android:exported="true" />


        <receiver
            android:name=".oneprocess.OneProcessReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".oneprocess.OneProcessService"
            android:enabled="true"
            android:exported="true" />


    </application>
</manifest>